@import '../../colors.scss';

.pagination{
    ul, li {
        display:inline;
    }
    text-align: center;
    button{
        outline: none;
        background: transparent;
        border: none;
        width: 35px;
        cursor: pointer;
    }
    .page_number{
        margin-right: 1em;
        background-color: $orange;
        padding: 5px 10px;
        font-size: 9pt;
        border-radius: 5px;
        color: white;
        &:hover{
            background-color: $dark_orange;
        }
    }
}

